Source: haskell-agi
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.6.15+nmu7),
               hscolour,
               cdbs,
               ghc6 (>= 6.8),
               ghc6-prof,
               libghc6-mtl-prof,
               libghc6-network-prof,
               libghc6-parsec2-prof,
               libghc6-syb-prof
Build-Depends-Indep: ghc6-doc,
                     haddock,
                     libghc6-mtl-doc,
                     libghc6-network-doc,
                     libghc6-parsec2-doc,
                     libghc6-syb-doc
Standards-Version: 3.8.1
Homepage: http://www.n-heptane.com/nhlab/repos/haskell-agi

Package: libghc6-agi-dev
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends}
Description: A library for writing AGI scripts for Asterisk
 Asterisk is an open-source Voice over IP server (VoIP).
 Asterisk provides an Asterisk Gateway Interface (AGI), which
 can be used to write external programs that interact with
 Asterisk. It is typically used for creating Interactive Voice
 Response (IVR) systems.
 .
  Author: Jeremy Shaw
  Upstream-Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
 .
 This package contains the normal library files.

Package: libghc6-agi-prof
Architecture: any
Section: haskell
Depends: ${haskell:Depends},
         ${misc:Depends},
         libghc6-agi-dev
Description: A library for writing AGI scripts for Asterisk
 Asterisk is an open-source Voice over IP server (VoIP).
 Asterisk provides an Asterisk Gateway Interface (AGI), which
 can be used to write external programs that interact with
 Asterisk. It is typically used for creating Interactive Voice
 Response (IVR) systems.
 .
  Author: Jeremy Shaw
  Upstream-Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
 .
 This package contains the libraries compiled with profiling enabled.

Package: haskell-agi-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends},
         ${misc:Depends},
         ghc6-doc
Description: A library for writing AGI scripts for Asterisk
 Asterisk is an open-source Voice over IP server (VoIP).
 Asterisk provides an Asterisk Gateway Interface (AGI), which
 can be used to write external programs that interact with
 Asterisk. It is typically used for creating Interactive Voice
 Response (IVR) systems.
 .
  Author: Jeremy Shaw
  Upstream-Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
 .
 This package contains the documentation files.
