Source: haskell-agi
Priority: optional
Section: misc
Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts-cdbs,
               cabal-debian,
               ghc6 (>= 6.8),
               ghc6-doc,
               haddock (>= 2.1.0),
               ghc6-prof,
               libghc6-parsec-prof,
               libghc6-parsec-doc,
               libghc6-mtl-prof,
               libghc6-mtl-doc
Standards-Version: 3.7.2.2
Homepage: http://www.n-heptane.com/nhlab/repos/haskell-agi

Package: libghc6-agi-dev
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library for writing AGI scripts for Asterisk
  Asterisk is an open-source Voice over IP server (VoIP).
  Asterisk provides an Asterisk Gateway Interface (AGI), which
  can be used to write external programs that interact with
  Asterisk. It is typically used for creating Interactive Voice
  Response (IVR) systems.
  .
  Author: Jeremy Shaw
  Upstream-Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
  .
  This package contains the normal library files.

Package: libghc6-agi-prof
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: A library for writing AGI scripts for Asterisk
  Asterisk is an open-source Voice over IP server (VoIP).
  Asterisk provides an Asterisk Gateway Interface (AGI), which
  can be used to write external programs that interact with
  Asterisk. It is typically used for creating Interactive Voice
  Response (IVR) systems.
  .
  Author: Jeremy Shaw
  Upstream-Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
  .
  This package contains the libraries compiled with profiling enabled.

Package: haskell-agi-doc
Architecture: all
Section: libdevel
Depends: ${haskell:Depends}
Description: A library for writing AGI scripts for Asterisk
  Asterisk is an open-source Voice over IP server (VoIP).
  Asterisk provides an Asterisk Gateway Interface (AGI), which
  can be used to write external programs that interact with
  Asterisk. It is typically used for creating Interactive Voice
  Response (IVR) systems.
  .
  Author: Jeremy Shaw
  Upstream-Maintainer: Jeremy Shaw <jeremy@n-heptane.com>
  .
  This package contains the documentation files.
